<!DOCTYPE html>
<html>

<head>
<title>Joseph Amenyogbe</title>
<link href = "static/mycss.css">
<head>
	

	<body>
	<ul>
		<a href = "home.com"><li>Home</li></a>
		<a href = "About.com"><li>About</li></a>
		<a href = "Contact.com"><li>Contact</li></a>


		<h1>Hello World!</h1>
		<p>My name is Joseph Amenyogbe,I really love to trave around the world</>
		<p>Dubai is a country i really love to visit and Paris is a place i will love to have my vacations but i really want to stay in USA</p>
		<a href = "https://iotia-2017.slack.com/messages"><img src="https://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" height ="500" width="400"/ ></a>
		<a href = "https://github.com/JaydenzJay">github</a>
		<p>TOP RICHEST MEN IN AFRICA</p>
		<ol>
		<li> Jaydenz </li>
		<li> Logout </li>
		<li> Ice prince </li>
		<li> Richie </li>
		<li> Gomah </li>
		<li> Josh </li>
		</lo>
		<div class = "my-margin">
		</div>		
	
	</body>
</html>
